.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
a {
  color: inherit;
}

.second-card {
  margin-top: 50px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-name {
  margin: 4em 2em;
  align-content: start;
  font-size: xx-large;
}

.about-me {
  margin: 2em 4em 4em;
  font-size: 21px;
  text-rendering: optimizelegibility;
}

.time-as-engineer {
  font-variant-caps: all-small-caps;
  color: #3199ff;
  text-decoration: underline wavy #3199ff;
}
