.card {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  width: 350px;
  border-color: hsl(0, 0%, 90%);
  border-style: solid;
}

p {
  color: black;
  font-size: 1rem;
}

a:hover {
  color: hsl(320, 40%, 50%);
}

h1 {
  background: hsl(340, 50%, 75%);
  padding: 18px 32px;
  margin-bottom: 24px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 4px;
  margin-top: -56px;
}
